snippet skel
# ${1:`!v expand("%:t:r")`}

**目录**

<!-- vim-markdown-toc GFM -->

<!-- vim-markdown-toc -->

${0}
endsnippet

snippet -[ "- [ ] todo"
- [${1: }] ${0}
endsnippet

snippet *[ "* [ ] todo"
* [${1: }] ${0}
endsnippet

snippet meeting "会议纪要" b
* **时间**：${1}
* **地点**：${2}
* **人员**：${3}
* **内容**：
  - ${4}
* **问题**：
  - ${5}
* **结论**：
  - ${6}
endsnippet
