snippet numpy "import numpy" b
import numpy as np

endsnippet
	
snippet streamlit "import streamlit" b
import streamlit as st

endsnippet

snippet pandas "import pandas" b
import pandas as pd

endsnippet

